<html>
<head> 
    <link rel="stylesheet" type="text/css" href="Style2.css">
</head>
<body id="Content3">
       <center>
    <h1><img src="FINAL.png" id="image" height="92px" width="250px"></h1>
       </center>
    <div id="padding">
    <center>
        <form id="form2" method="post" action="/signup">
    <input type="email" id="A" name="username" placeholder="Please enter your E-mail" required><br>
    <input type="password" id="B" name="password" placeholder="Please enter your password" required><br>
    <select id="C" name="userlevel">
        <option value="1">Individual</option>
        <option value="2">Corporate</option>
        <option value="3">Self employement teacher</option>
        <option value="4">Learning partners</option>
    </select><br>
    <input type="submit" id="D" value="Sign Up">
            <hr width="80%">
        <p>Have an account?<a href="/login"><input type="button" value="LOG IN" id="SIGNUP"></a></p>
    <br>
    </form></center>
        </div>
    </body>
</html>