<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="forgotpassword.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="modal-dialog" id="dialog">
    <div class="modal-content" id="content">
    <div class="modal-header" id="header">
        <center><img src="pisaralogo.png" id="image" class="img-responsive" height="92px" width="250px"></center>
    </div>
        <div class="model-body" id="model">
            <form class="col-md-12 center-block" id="form" method="post">
                <center> <h3>Forgot Password</h3></center>
                <div class="form-group">
                    <input type="Email" name="email" class="form-control input-lg" id="A" placeholder="Email" required>
                </div>   
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-primary" value="Send " id="D">
                </div>
                </form>
            </div>
        </div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>