<html>
    <head>
         <link rel="stylesheet" type="text/css" href="/Style.css">   
    </head>
    <body id="Content">
        
        <center>
    <h1><img src="FINAL.png" id="image" height="92px" width="250px"></h1>
            {{{flash}}}
        </center>

<div id="Padding">
    <center><form id="form1" method="post">
        <p id="or"><center>or</center></p>
            <input type="text" id="name" name="Username" placeholder="Enter Username" required>
    <br>
            <input type="password" id="pass"  name="Password" placeholder="Enter Password" required>
    <br>    <a href="/forgotp" id="A">Forgot Password?</a>
    <br>
            <input type="submit" value="SIGN IN" id="B1">
    <hr width="80%">
        <p>Don't have an account?<a href="/signup"><input type="button" value="SIGN UP" id="SIGNUP"></a></p>
    <br>
    </form>
        </center>
</div>
</body>
</html>