#content {
    width:100%;
    border: 2px solid #fbc02d;
    box-shadow: 4px 4px 7px gray;
}
#facebook {
    background-color: #3B5998;
}
#google {
    background-color: #DD4B39;
}
#B {
    text-align: left;
    color: black;
    padding: 14px 20px;
    cursor: pointer;
    width: 100%;
	font-size: 15px;
    color: GRAY;
    font-family: arial;
    font-weight: 600;
    font-size: 15;
    border-radius: 0px;
}
#Submit  {  
    color:white;
    background-color: #316836;
    font-weight:600;
    width: 50%;
	height:%;
    text-align: center;
    border-radius: 0px;
}

