#content {
    width:100%;
    border: 2px solid #fbc02d;
    box-shadow: 4px 4px 7px #888888;
}
#model {
    margin:20px;
}
#form {
}
#A {
    text-align: left;
    color: black;
    cursor: pointer;
    width: 100%;
	font-size: 15px;
    color: GRAY;
    font-family: arial;
    font-weight: 600;
    font-size: 15;
    box-shadow: 2px 2px 3px #888888;   
    border-radius: 0px;
}
#B {
    text-align: left;
    color: black;
    cursor: pointer;
    width: 100%;
	font-size: 15px;
    color: GRAY;
    font-family: arial;
    font-weight: 600;
    font-size: 15;
    box-shadow: 2px 2px 3px #888888;
    border-radius: 0px;
}
#C {
    color:black;
    text-align: center;
    font-family: arial;
}
#E {  
    background-color:#D3D3D3;
    color:black;
    height:40px;
    font-weight:500;
    cursor: pointer;
    width: 100%;
    text-align:center;
    border-radius: 0px;
    box-shadow: 2px 2px 3px #888888;
}
#F {  
    color:white;
    background-color: #316836;
    font-weight:600;
    width: 100%;
	height:%;
    text-align: center;
    border-radius: 0px;
}